/*----- DISPLAY -----*/


.artist-name {
    /*typography*/
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.43px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.horizontal-upper-frame {
    /*layout*/
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 70px;
}

.mode-frame {
    /*layout*/
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.content-frame {
    /*layout*/
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-frame {
    /*layout*/
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 800px;
    height: 500px;

    /*style*/
    border-radius: 22px;
    border: 2px solid #1DB954;
    background: rgba(6, 26, 18, 0.50);
}

.horizontal-frame {
    /*layout*/
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.horizontal-frame.albums {
    height: 600px;
    padding-top: 2px;
}

.horizontal-frame.buttons {
    gap: 10px;
}

.album-frame {
    /*layout*/
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.horizontal-sub-frame {
    /*layout*/
    display: flex;
    width: 1222px;
    padding: 0 9px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.info-text {
    /*layout*/
    margin-top: 3px;
    margin-bottom: 3px;

    /*typography*/
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.43px;
}

.invisible-text {
    /*typography*/
    color: rgba(255, 255, 255, 0.00);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.43px;
}

.content-panel {
    /*layout*/
    display: flex;
    width: 1188px;
    height: 404px;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;

    /*style*/
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(16, 55, 40, 0.70);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
}

/*----- ALBUM BUTTONS -----*/
.rotative-button {
    /*layout*/
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    cursor: pointer;

    /*style*/
    fill: rgba(6, 26, 18, 0.80);
    border-radius: 999px;
    border: 1px solid transparent;
    background:
    linear-gradient(#061A12, #061A12) padding-box,
    conic-gradient(
      from 180deg,
      #1DB954,
      #00F5D4,
      #1DB954
    ) border-box;
}

.rotative-button:hover {
    /*style*/
    fill: rgba(6, 26, 18, 0.80);
    border-radius: 999px;
    border-width: 1px;
    background:
        linear-gradient(#082317, #082317) padding-box,
        conic-gradient(
        from 180deg,
        #1DB954,
        #00F5D4,
        #2D6BFF,
        #FF4ECD,
        #1DB954
        ) border-box;
    filter: drop-shadow(0 0 18px rgba(29, 185, 84, 0.25));
}

.rotative-button:disabled {
    opacity: 0.35;
    cursor: not-allowed;
    pointer-events: none;
}

.rotative-button:disabled svg path {
    stroke: rgba(255, 255, 255, 0.3);
}

.album-button {
    /*layout*/
    width: 200px;
    height: 50px;
    text-align: center;
    cursor: pointer;

    /*style*/
    border-radius: 75px;
    border: 3px solid rgba(29, 185, 84, 0.30);
    background: #0B201A;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.12) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.album-button:hover {
    background:
        linear-gradient(#082317, #082317) padding-box,
        conic-gradient(
        from 180deg,
        #1DB954,
        #00F5D4,
        #2D6BFF,
        #FF4ECD,
        #1DB954
        ) border-box;
    filter: drop-shadow(0 0 18px rgba(29, 185, 84, 0.25));
}

.album-button.active {
    background:
        linear-gradient(#082317, #082317) padding-box,
        conic-gradient(
        from 180deg,
        #1DB954,
        #00F5D4,
        #2D6BFF,
        #FF4ECD,
        #1DB954
        ) border-box;
    filter: drop-shadow(0 0 18px rgba(29, 185, 84, 0.25));
}

.button-text {
    /*typography*/
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.43px;
    margin: 2px;
}

/*----- OTHER ELEMENTS -----*/
.grand-image{
    /*layout*/
    width: 350px;
    height: 350px;
}
