/* LAYOUT FRAMES */
.mode-frame {
    /*layout*/
    display: flex;
    width: 75px;
    padding-top: 10px;
    padding-left: 300px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.player-layout{
    /*layout*/
    display: flex;
    width: 504px;
    height: 600px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;

    /*style*/
    border-radius: 24px;
    border: 3px solid rgba(255, 255, 255, 0.10);
    background: rgba(16, 55, 40, 0.70);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
}

.buttons-frame {
    /*layout*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

/* PLAYER COMPONENTS*/
.image {
    /*layout*/
    width: 400px;
    height: 400px;
    flex-shrink: 0;
}

.song-name {
    /*layout*/
    align-self: stretch;
    min-width: 0;
    margin: 0px;

    /*typography*/
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: -0.43px;
}

.song-info {
    /*layout*/
    align-self: stretch;
    min-width: 0;
    margin: 0px;

    /*typography*/
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.43px;
}

.duration {
    /*typography*/
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 110% */
    letter-spacing: -0.43px;
}

.button {
    /*layout*/
    cursor: pointer;
    background-color: transparent;
    border: 0px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}