/*----- BACKGROUND -----*/
.page{
    /*layout*/
    position: relative;
    height: 100vh;
    overflow: hidden;

    /*style*/
    background: url("/images/background.png") lightgray 50% / cover no-repeat;
}

/*----- MAIN LAYOUT -----*/
.layout {
    /*layout*/
    display: flex;
    width: 1440px;
    height: 1021px;
    padding: 70px 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.layout.modified {
    /*layout*/
    padding-top: 50px;
    gap: 2px;
}

/*----- MODE BUTTONS -----*/
.mode-button{
    /*layout*/
    width: 75px;
    height: 75px;
    cursor: pointer;

    /*style*/
    border-radius: 75px;
    border: 1px solid rgba(29, 185, 84, 0.30);
    background: #0B201A;
    box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.15) inset;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
}

.mode-button:hover{
    /*style*/
    border-radius: 75px;
    border: 1px solid rgba(29, 185, 84, 0.40);
    background: #0F2B23;
    box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.15) inset;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15));
}

/*----- DISPLAY -----*/
.display-wrapped{
    max-height: 491px;         
    overflow-y: auto;          
    overflow-x: hidden;
    border-radius: 26px;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(0,245,212,0.55) transparent;
}

/* Chrome/Edge/Safari */
.display-wrapper::-webkit-scrollbar{
    width: 10px;
}

.display-wrapper::-webkit-scrollbar-track{
  background: transparent;
}

.display-wrapper::-webkit-scrollbar-thumb{
    background: linear-gradient(
        180deg,
        rgba(29,185,84,0.65),
        rgba(0,245,212,0.65)
    );
    border-radius: 999px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

.display-wrapper::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(
        180deg,
        rgba(29,185,84,0.95),
        rgba(0,245,212,0.95)
    );
    background-clip: padding-box;
}

.display-wrapped.simple {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.display-wrapped.small {
    height: 390px;
    padding-left: 0px;
}

.display-wrapped.double {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 60px;
}

.display-wrapped.compact {
    padding-top: 0px;
}

.hidden{
    display: none;
}

.display-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.display-column{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.display-row {
    display: flex;
    flex-direction: row;
    gap: 10px; 
}

/*----- LOGO -----*/
.logo-container{
    /*position*/
    position: relative;
    top: 15px;
    left: 1130px
}

.logo-container-artist-page{
    margin-top: -55px;
    margin-left: 1020px;
}