<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Search Web</title>
    </head>
    <body>
        {{#album}}
            <p><strong>Name: </strong> {{name}}</p>
            <p><strong>Total Tracks: </strong>{{totalTracks}}</p>
            <p><strong>Tracks: </strong></p>
            {{#trackList}}
                <p>{{-index}}: <a href="/queue/{{id}}">{{name}}</a> ({{duration}} minutes)</p>
            {{/trackList}}
            {{#image}}
                <img src={{url}} width={{width}} height={{height}}>
            {{/image}}
        {{/album}}
        
    </body>
</html>