<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Search Web</title>
    </head>
    <body>
        {{#album}}
            <p><strong>Name: </strong> {{name}}</p>
            <p><strong>Total Tracks: </strong>{{totalTracks}}</p>
            <p><strong>Tracks: </strong></p>
            {{#trackList}}
                <p>{{-index}}: {{name}} ({{duration}} ms)</p>
            {{/trackList}}
        {{/album}}
        {{#image}}
            <img src={{url}} width={{width}} height={{height}}>
        {{/image}}
    </body>
</html>