<!DOCTYPE html>
<html>
    <head>
        <title>Spotify Seach Web</title>
    </head>
    <body>
        <form action="/" method="get">
            <label for="search">Search</label>
            <input name="search" type="text" id="search" placeholder="Search...">
            <button type="submit"></button>
        </form>

        <div>
            <h3>Artists:</h3>
            {{#artists}}
            <p>Name: {{name}}</p>
            {{/artists}}
        </div>

        <div>
            <h3>Albums:</h3>
            {{#albums}}
            <p>Name: {{name}}, Artist: {{#artists}}{{name}} {{/artists}}, Total Tracks: {{totalTracks}}</p>
            {{/albums}}
        </div>

        <div>
            <h3>Tracks:</h3>
            {{#tracks}}
            <p>Number Track: {{number}}, Name: {{name}}, Album: {{#album}}{{name}}{{/album}}, {{#artists}}Artist: {{name}} {{/artists}} </p>
            {{/tracks}}
        </div>
    </body>
</html>